@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Gilgan", sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


.desktop-text-start {
    text-align: start;
}

.button-filter {
    background-color: #183d55;
}

.button-filter:hover {
    background-color: #7393a7;
}

.bg-jumbotron {
    background-image: url("/assets/jumbotron.png");
}

.bg-jumbotron-2 {
    background-image: url("/assets/jumbotron2.png");
}

.bg-jumbotron-3 {
    background-image: url("/assets/jumbotron3.png");
}

.bg-btn-cyan {
    background-color: #183d55;
}

.bg-input-cyan-200 {
    background-color: #3E787E;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-companies::-webkit-scrollbar {
    width: 2px;
}

.scrollbar-companies::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbar-detailposts::-webkit-scrollbar {
    width: 2px;
}

.scrollbar-detailposts::-webkit-scrollbar-thumb {
  background: #888;
}

/* Hidden rows in mobile view */
@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }
}
