@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Gilgan", sans-serif;
}

.button-filter {
    background-color: #183D55;
}

.button-filter:hover {
    background-color: #7393A7;
}

.bg-jumbotron {
    background-image: url("/assets/jumbotron.png");
}

.bg-btn-cyan {
    background-color: #183D55;
}
